<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141921777-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-141921777-1');
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>WhatsApp Chat Analyser</title>
</head>
<body>
<div class="form-holder">
    <h1>WhatsApp Chat Analyser</h1>
    <p>This Python script takes in an exported WhatsApp chat file and using string manipulation shows some statistics
        about the chat in question. First head over to WhatsApp and export the chat you want analysed and make sure to
        exclude media. Then copy the text of that file and paste it into the box below and click process. Text isn't
        collected and stays local to your device.<br>This app only works with individual chats, group chats aren't
        supported.</p>
    <img class="demo" src="../static/Demo.gif" alt="Upload Demo">
    <div class="contents-center">
        <h3>Paste the text here:</h3>
        <form class="form-container" method=post action="">
            <table class="elements">
                {% for field in form %}
                <tr class="element">
                    <td class="string">{{ field }}</td>
                    <td>
                        <ul class="errors">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <p><input class="btn" type=submit value=Process></form>
        </p>
        <p class="output-container">
            {% if result != None %}
            Here are your chat stats:
            <textarea readonly class="output-field">{{ result }}</textarea>
            {% endif %}
        </p>
    </div>
</div>

</body>
</html>